[Unit]
Description=Celery workers
After=network.target

[Service]
Type=forking
User=xmpp-account
Group=xmpp-account
EnvironmentFile=/etc/conf.d/celery-xmpp-account.conf
WorkingDirectory=/usr/local/home/xmpp-account/django-xmpp-account/
ExecStart=/usr/local/home/xmpp-account/bin/celery multi start $CELERYD_NODES \
    -A xmppaccount --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel="${CELERYD_LOG_LEVEL}" \
    $CELERYD_OPTS
ExecStop=/usr/local/home/xmpp-account/bin/celery multi stopwait $CELERYD_NODES \
    --pidfile=${CELERYD_PID_FILE}
ExecReload=/usr/local/home/xmpp-account/bin/celery multi restart $CELERYD_NODES \
    -A xmppaccount --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel="${CELERYD_LOG_LEVEL}" \
    $CELERYD_OPTS

[Install]
WantedBy=multi-user.target
