{% extends "base.html" %}
{% load i18n %}

{% block description %}Register an account on {{ SITE.BRAND }}, a free and open Jabber/XMPP server.{% endblock description %}

{% block pagetitle %}{% block title %}{% trans "Account registration" %}{% endblock title %}{% endblock pagetitle %}

{% block body %}
{% if form.is_valid %}{# successfull registration - don't display form! #}
<div class="alert alert-success">
    <p><strong>{% trans "Thanks for your registration!" %}</strong></p>
    <p>{% blocktrans with email=form.email.value %}Thank you for your registration. You have received an email to {{email}} to
confirm your request.  It contains a link you have to click to complete
your registration.{%endblocktrans %}</p>
</div>
{% else %}

<p>{% blocktrans %}Please provide the required information below and you will receive a email
to the given address to confirm your request. Click on the link in the
email to complete your registration.{% endblocktrans %}</p>


{% include "xmpp_accounts/fields/errors.html" %}

<form role="form" action="{{ request.path }}" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
    {% include "xmpp_accounts/fields/head.html" %}

    {% with field=form.email %}
        {% include "xmpp_accounts/fields/field.html" %}
    {% endwith %}

    {% with field=form.username %}
        {% include "xmpp_accounts/fields/jid.html" %}
    {% endwith %}

    {% if USE_GPG %}
        {% include "xmpp_accounts/fields/gpg.html" %}
    {% endif %}
    
    {% include "xmpp_accounts/fields/captcha.html" %}

    <button type="submit" class="btn btn-default">{% trans "Register" %}</button>
</form>
{% endif %}

{% endblock body %}
