/bin/
/include/
/lib/
/local/
/share/
/man/
/build/
localsettings.py
*.py[oc]
*.sw[po]
*.mo
/doc/_build/
/static/
/node_modules/
/logs/
*.sqlite3
Makefile
wording.txt
/.gpg/
/py3/
/fab.conf
/pip-selfcheck.json
/gpg
