Django==1.8.2
celery[redis]==3.1.18
django-brake==1.3.1
django-recaptcha-field==1.0b2
django-redis==4.0.0
dnspython==1.12.0
hiredis==0.2.0
lxml==3.4.4
python-gnupg==0.3.7
pytz==2015.4
recaptcha==1.0rc1
six==1.9.0
sleekxmpp==1.3.1
