<div class="form-group">
    <label for="{{ username.id_for_label }}">
        {{ username.label }}
    </label>
    <label for="{{ domain.id_for_label }}" class="sr-only">
        {{ domain.label }}
    </label>
    <div class="row">
        <div class="col-lg-3 {% if username.errors %}has-error{% endif %}">
            {{ username }}
            <div class="at-sign">@</div>
       </div>
       <div class="col-lg-2 {% if domain.errors %}has-error{% endif %}">
            {{ domain }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 {% if username.errors or domain.errors %}has-error{% endif %}">
            <div class="help-block">
                {{ username.help_text }}
                {{ username.errors }}
                {{ domain.errors }}
            </div>
        </div>
    </div>
</div>
