{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% block title %}{% trans "Set email" %}{% endblock title %}{% endblock pagetitle %}

{% block body %}
{% if form.is_valid %}
<div class="alert alert-success">
    <p><strong>{% trans "Change successful!" %}</strong></p>
    <p>{% blocktrans %}Thank you for your request. You have received an email to confirm your
request. It contains a link you have to click to complete your request.{% endblocktrans %}
    </p>
</div>

{% else %}

<p>{%blocktrans %}If you want to change your email address (or initially set it, if you have
registered via other means), you can set it here. You will receive an email
at the new address containing a confirmation link that you must click in
order to complete the change.{% endblocktrans %}</p>

{% include "xmpp_accounts/fields/errors.html" %}

<form role="form" action="{{ request.path }}" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
    {% include "xmpp_accounts/fields/head.html" %}

    {% with field=form.username %}
        {% include "xmpp_accounts/fields/jid.html" %}
    {% endwith %}

    {% with field=form.password %}
        {% include "xmpp_accounts/fields/field.html" %}
    {% endwith %}
    
    {% with field=form.email %}
        {% include "xmpp_accounts/fields/field.html" %}
    {% endwith %}

    {% if USE_GPG %}
        {% include "xmpp_accounts/fields/gpg.html" %}
    {% endif %}

    {% include "xmpp_accounts/fields/captcha.html" %}

    <button type="submit" class="btn btn-default">{% trans "Set email" %}</button>
</form>
{% endif %}
{% endblock body %}
