{% extends "container.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock title %}

{% block body %}
{% if form.is_valid %}
<div class="alert alert-success">
<p><strong>{% trans "Change successful!" %}</strong></p>
<p>{% blocktrans %}You have successfully set a new password for your account.
You can use it immediately.{% endblocktrans %}</p>
</div>
{% else %}

{% include "xmpp_accounts/fields/errors.html" %}

<form role="form" action="{{ request.path }}" method="post" autocomplete="off">{% csrf_token %}
    {% include "xmpp_accounts/fields/head.html" %}

    {% with field=form.password %}
        {% include "xmpp_accounts/fields/field.html" %}
    {% endwith %}

    {% with field=form.password2 %}
        {% include "xmpp_accounts/fields/field.html" %}
    {% endwith %}

    {% include "xmpp_accounts/fields/captcha.html" %}

    <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
</form>
{% endif %}
{% endblock body %}
