{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% block title %}{% trans "Confirm Registration" %}{% endblock title %}</h1>

{% if form.is_valid %}
<div class="alert alert-success">
    <p><strong>{% trans "Registration successful!" %}</strong></p>
    <p>{% blocktrans with jid=jid username=username domain=domain %}Your
      registration is now complete.  Your full Jabber address is
      <strong>{{ jid }}</strong>. Note that some clients require you to enter
      your username (<strong>{{ username }}</strong>) and the jabber server
      (<strong>{{ domain }}</strong>) separately.{% endblocktrans %}
    </p>
</div>
{% else %}

{% include "core/forms/errors.html" %}

<form role="form" action="" method="post" autocomplete="off">{% csrf_token %}
    {% include "core/forms/head.html" %}
   
    {% with field=form.password %}
        {% include "core/forms/field.html" %}
    {% endwith %}
    
    {% with field=form.password2 %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.recaptcha %}
        {% include "core/forms/recaptcha.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-default">{% trans "Confirm" %}</button>
</form>


{% endif %}
{% endblock content %}
