{% extends "container.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "Confirm Registration" %}{% endblock title %}

{% block body %}
{% if form.is_valid or SUBMIT %}
<div class="alert alert-success">
    <p><strong>{% trans "Registration successful!" %}</strong></p>
    <p>{% blocktrans with jid=jid username=username domain=domain %}Your
      registration is now complete.  Your full Jabber address is
      <strong>{{ jid }}</strong>. Note that some clients require you to enter
      your username (<strong>{{ username }}</strong>) and the jabber server
      (<strong>{{ domain }}</strong>) separately.{% endblocktrans %}
    </p>
</div>

<h2>{% trans "What's next?" %}</h2>
<ul class="arrow-list">
    <li>{% blocktrans %}Configure your account (<strong>{{ jid }}</strong> or username: <strong>{{ username }}</strong>, domain: <strong>{{ domain }}</strong>) you just created in any Jabber client of your choice.{% endblocktrans %}
    <li>{% blocktrans %}If you are not sure what client to use, the XSF has an 
<a href="http://xmpp.org/xmpp-software/clients/">extensive list of clients</a>
and Wikipedia has a <a href="https://en.wikipedia.org/wiki/Comparison_of_XMPP_clients">
list with feature comparisons</a>.{% endblocktrans %}</li>
    <li>{% blocktrans %}Follow news about our server on <a href="{{ SITE.HOMEPAGE }}">our homepage</a>.{% endblocktrans %}
    {% if SITE.TWITTER or SITE.FACEBOOK or SITE.GPLUS %}
    <li>{% trans "Tell your friends about your new account:" %}<br />
    <div class="social-buttons inline">
        <span class="twitter-tweet" data-url="{{ ACTION_URL }}" 
                data-text="{% trans "I just got a new #Jabber account. Get one too so we can start chatting!" %}"
                data-via="jabber_at" data-hashtags="xmpp" data-dnt="true">
            <img src="{% static 'img/twitter-tweet.png' %}">
        </span>
    {% trans "(Click twice for privacy!)" %}</div></li>
    {% endif %}
    {% if SITE.TWITTER or SITE.FACEBOOK or SITE.GPLUS %}
    {% blocktrans %}Or if you prefer social media:{% endblocktrans %}
    <ul class="arrow-list">
        {% if SITE.FACEBOOK %}
        <li>{% blocktrans with site=SITE.FACEBOOK %}Our Facebook page at <a href="https://facebook.com/{{ site }}">https://facebook.com/{{ site }}</a>:{% endblocktrans %}
            <div class="social-buttons inline">
                <div class="fblike"><img src="{% static 'img/fblike.png' %}"> 
                    {% trans "(Click twice for privacy!)" %}
                </div>
            </div>
        </li>
        {% endif %}
        {% if SITE.TWITTER %}
        <li>{% blocktrans with twitter=SITE.TWITTER %}Our Twitter account at 
<a href="https://twitter.com/{{ twitter }}">@{{ twitter }}</a>:{% endblocktrans %}
        <div class="social-buttons inline">
            <span class="twitter-follow">
                <img src="{% static 'img/twitter.png' %}"> {% trans "(Click twice for privacy!)" %}
            </span>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    </li>
{% if SITE.WEBCHAT %}
    <li>{% blocktrans %}<a href="{{ SITE.WEBCHAT }}">Our webchat</a> allows you to login anywere without having to install a client.{% endblocktrans %}</li>
{% endif %}
</ul>
{% else %}

{% include "core/forms/errors.html" %}

<form role="form" action="" method="post" autocomplete="off">{% csrf_token %}
    {% include "core/forms/head.html" %}
   
    {% with field=form.password %}
        {% include "core/forms/field.html" %}
    {% endwith %}
    
    {% with field=form.password2 %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.recaptcha %}
        {% include "core/forms/recaptcha.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-default">{% trans "Confirm" %}</button>
</form>


{% endif %}
{% endblock body %}
