{% extends "container.html" %}
{% load i18n %}

{% block description %}Register an account on {{ SITE.BRAND }}, a free and open Jabber/XMPP server.{% endblock description %}

{% block title %}{% trans "Account registration" %}{% endblock title %}
{% block opengraph-title %}{% trans "Register an account" %}{% endblock opengraph-title %}
{% block opengraph-description %}{% blocktrans %}Register an account on {{ request.site.DOMAIN }}, a reliable and secure Jabber/XMPP server. Jabber is a free and open instant messaging protocol.{% endblocktrans %}{% endblock opengraph-description %}

{% block body %}
{% if form.is_valid %}{# successfull registration - don't display form! #}
<div class="alert alert-success">
    <p><strong>{% trans "Thanks for your registration!" %}</strong></p>
    <p>{% blocktrans with email=form.email.value %}Thank you for your registration. You have received an email to {{email}} to
confirm your request.  It contains a link you have to click to complete
your registration.{%endblocktrans %}</p>
</div>
{% else %}

<p>{% blocktrans %}Please provide the required information below and you will receive a email
to the given address to confirm your request. Click on the link in the
email to complete your registration.{% endblocktrans %}</p>

{% include "core/forms/errors.html" %}

<form role="form" action="" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
    {% include "core/forms/head.html" %}

    {% with field=form.email %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with username=form.username domain=form.domain %}
        {% include "core/forms/jid.html" %}
    {% endwith %}

    {% if USE_GPG %}
        {% include "core/forms/gpg.html" %}
    {% endif %}
    
    {% with field=form.recaptcha %}
        {% include "core/forms/recaptcha.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-default">{% trans "Register" %}</button>
</form>
{% endif %}

{% endblock body %}
