{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
    <h1>{% block title %}{% trans "Account registration" %}{% endblock title %}</h1>
</div>

{% if form.is_valid %}{# successfull registration - don't display form! #}
<div class="alert alert-success">
    <p><strong>{% trans "Thanks for your registration!" %}</strong></p>
    <p>{% blocktrans with email=form.email.value %}Please click at the
    confirmation link you have recieved at {{ email }} to complete your
    registration.{% endblocktrans %}</p>
</div>
{% else %}

<p>{% blocktrans %}Please provide the required information below and you will
receive a confirmation Email to the given address. Click on the link in the
E-mail to complete your registration.{% endblocktrans %}</p>

{% include "core/forms/errors.html" %}

<form role="form" action="" method="post">{% csrf_token %}
    {% include "core/forms/head.html" %}

    {% with field=form.email %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.value %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with username=form.username domain=form.domain %}
        {% include "core/forms/jid.html" %}
    {% endwith %}
    
    {% with field=form.recaptcha %}
        {% include "core/forms/recaptcha.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-default">{% trans "Register" %}</button>
</form>
{% endif %}

{% endblock content %}
