{% load i18n %}{% language lang %}<!DOCTYPE HTML>
<html>
    <head>
        <title>
            {% blocktrans %}Your new account on {{ domain }}{% endblocktrans %}
        </title>
</head>
<body>
<p>{% blocktrans %}Dear {{ username }},{% endblocktrans %}</p>

<p>{% blocktrans %}You have registered the account {{ jid }} with this email address.
To complete your registration, please <a href="{{ uri }}">click here</a> and
provide a password for your new account.{% endblocktrans %}</p>

{% if cleartext %}
<p>{% blocktrans %}Please note that this server stores passwords as plain text. We can only
encourage you to choose a safe password you use nowhere else.{% endblocktrans %}</p>
{% endif %}

<p>{% trans "If you haven't registered for an account, you can simply disregard this email." %}</p>

<p>{% trans "greetings," %}<br />
<p style="padding-left: 4em;">{{ domain }}</p>
{% endlanguage %}
</body></html>
