{% load i18n %}{% language lang %}<!DOCTYPE HTML>
<html>
<head><title>{{ subject }}</title></head>
<body>
<p>{% blocktrans with username=extra.username %}Dear {{ username }},{% endblocktrans %}</p>

<p>{% blocktrans with username=extra.username uri=extra.uri %}You requested to change the password for your Jabber account {{ jid }}.
To complete the change, please <a href="{{ uri }}">click here</a>.{% endblocktrans %}</p>
{% if cleartext %}
{% blocktrans %}Please note that this server stores passwords as plain text. We can only
encourage you to choose a safe password you use nowhere else.{% endblocktrans %}{% endif %}

<p>{% trans "If you haven't made this change, simply disregard this email." %}</p>


<p>{% trans "greetings," %}<br />
<p style="padding-left: 4em;">{{ extra.domain }}</p>
{% endlanguage %}
</body></html>
