{% extends "container.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm account deletion" %}{% endblock title %}

{% block body %}
{% if form.is_valid %}{# successfull registration - don't display form! #}
<div class="alert alert-success">
    <p><strong>{% trans "Account deleted." %}</strong></p>
    <p>{% blocktrans with email=form.email.value %}Your account has been removed. Thanks and good bye.{% endblocktrans %}</p>
</div>
{% else %}

<div class="alert alert-warning"><p><strong>{% trans "Warning!" %}</strong></p>
<p>{% blocktrans %}If you type in your correct password here, your account is gone forever!
There is no way to restore your contacts or any other information related
to your account.{% endblocktrans %}</p>
</div>

{% include "xmpp_accounts/fields/errors.html" %}

<form role="form" action="{{ request.path }}" method="post" autocomplete="off">{% csrf_token %}
    {% include "xmpp_accounts/fields/head.html" %}

    {% with field=form.password %}
        {% include "xmpp_accounts/fields/field.html" %}
    {% endwith %}
    {% include "xmpp_accounts/fields/captcha.html" %}
    <button type="submit" class="btn btn-default">{% trans "Yes, really delete my account!" %}</button>
</form>
{% endif %}
{% endblock body %}
