{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% block title %}{% trans "Delete account" %}{% endblock title %}{% endblock pagetitle %}

{% block body %}
{% if form.is_valid %}{# successfull registration - don't display form! #}
<div class="alert alert-success">
    <p><strong>{% trans "Delete account" %}</strong></p>
    <p>{% blocktrans with email=form.email.value %}Please click at the confirmation link you have recieved at {{ email }} to
finally delete your account.{% endblocktrans %}</p>
</div>
{% else %}

<p>{% blocktrans %}If you want to delete your account, you can do so here. You will receive a
confirmation email to verify your request.{% endblocktrans %}</p>

<div class="alert alert-warning"><p><strong>{% trans "Warning!" %}</strong></p>
<p>{% blocktrans %}If you delete your account, it's gone forever. There is no
way to restore your account!{% endblocktrans %}</p>
</div>

{% include "xmpp_accounts/fields/errors.html" %}

<form role="form" action="{{ request.path }}" method="post" autocomplete="off">{% csrf_token %}
    {% include "xmpp_accounts/fields/head.html" %}

    {% with field=form.username %}
        {% include "xmpp_accounts/fields/jid.html" %}
    {% endwith %}

    {% with field=form.password %}
        {% include "xmpp_accounts/fields/field.html" %}
    {% endwith %}
    {% include "xmpp_accounts/fields/captcha.html" %}
    <button type="submit" class="btn btn-default">{% trans "Delete account" %}</button>
</form>

{% endif %}
{% endblock body %}
