{% load i18n %}
<div class="shariff{% if noauto %} noauto{% endif %}">{% if noauto %}
{% if SITE.TWITTER or SITE.FACEBOOK or SITE.GPLUS %}
    <ul class="theme-color orientation-horizontal">
        {% if SITE.TWITTER %}
        <li class="shariff-button twitter">
        <a href="https://twitter.com/intent/follow?screen_name={{ SITE.TWITTER }}" class="social" data-width="570" data-height="510">
            <span class="fa fa-twitter"></span>
            <span class="share_text aaa">@{{ SITE.TWITTER }}</span>
        </a>
        </li>
        {% endif %}
        {% if SITE.FACEBOOK %}
        <li class="shariff-button facebook">
            <a href="{{ FACEBOOK_URL }}" data-toggle="modal" data-target="#fb-page-modal">
                <span class="fa fa-facebook"></span>
                <span class="share_text">{{ SITE.FACEBOOK }}</span>
            </a>
        </li>
        <div class="modal fade" id="fb-page-modal" tabindex="-1" role="dialog" aria-labelledby="fp-page-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="fb-page-modal-label">{% trans "Follow us on Facebook" %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% blocktrans with url=FACEBOOK_URL %}You can follow our Facebook page at <a href="{{ url }}">{{ url }}</a>:{% endblocktrans %}</p>

                        <div style="display: inline-block; position: relative;">
                            <div class="fb-page" data-href="https://www.facebook.com/jabber.at" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/jabber.at"><a href="https://www.facebook.com/jabber.at">jabber.at</a></blockquote></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </ul>
{% endif %}
{% endif %}</div>
