{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
    <h1>{% block title %}{% trans "Delete account" %}{% endblock title %}</h1>
</div>


{% if form.is_valid %}{# successfull registration - don't display form! #}
<div class="alert alert-success">
    <p><strong>{% trans "Delete your account" %}</strong></p>
    <p>{% blocktrans with email=form.email.value %}
        Please click at the confirmation link you have recieved at {{ email }} to finally delete your account.
    {% endblocktrans %}</p>
</div>
{% else %}

<p>{% blocktrans %}
If you want to delete your account, you can do so here. You will receive a
confirmation email to verify your request.
{% endblocktrans %}</p>

<div class="alert alert-warning"><p><strong>{% trans "Warning!" %}</strong></p>
<p>{% blocktrans %}If you delete your account, it's gone forever. There is no
way to restore your account!
{% endblocktrans %}</p>
</div>

{% include "core/forms/errors.html" %}

<form role="form" action="" method="post">{% csrf_token %}
    {% include "core/forms/head.html" %}

    {% with username=form.username domain=form.domain %}
        {% include "core/forms/jid.html" %}
    {% endwith %}

    {% with field=form.value %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.password %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.recaptcha %}
        {% include "core/forms/recaptcha.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-default">{% trans "Delete account" %}</button>
</form>

{% endif %}
{% endblock content %}
