{% load staticfiles i18n %}
<!DOCTYPE html>
<html><head>
    <title>{{ request.site.DOMAIN }} | {% block title %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
{% comment %}Dublin Core{% endcomment %}
    <meta name="DC.Title" content="{{ TWITTER_TEXT }}" >
    <meta name="DC.Subject" content="jabber, xmpp, Instant Messaging" >
{% comment %}Facebook Open Graph{% endcomment %}
    <meta property="og:type"   content="article" /> 
    <meta property="og:title" content="{{ OPENGRAPH_TITLE }}" />
    <meta property="og:url" content="{{ ACTION_URL }}" />
    {% if request.site.FACEBOOK_IMAGE %}<meta property="og:image" content="{{ request.site.FACEBOOK_IMAGE }}" />{% endif %}
    <meta property="og:description" content="{{ OPENGRAPH_DESCRIPTION }}" />
    {% if request.site.FACEBOOK %}
    <meta property="article:author" content="https://facebook.com/{{ request.site.FACEBOOK }}" />
    <meta property="article:publisher" content="https://facebook.com/{{ request.site.FACEBOOK }}" />
    {% endif %}
{% comment %}Twitter cards{% endcomment %}{% if request.site.TWITTER and request.site.TWITTER_IMAGE %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ TWITTER_TEXT }}" />
    <meta name="twitter:site" content="@{{ request.site.TWITTER }}" />
    <meta name="twitter:image" content="{{ request.site.TWITTER_IMAGE }}" />
    <meta name="twitter:url" content="{{ ACTION_URL }}" />{% comment %}NOTE: Documented but unsed by twitter{% endcomment %}
{% endif %}

{% if debug %}
    <script src="{% static "lib/jquery/jquery.js" %}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "lib/shariff/shariff.complete.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
{% else %}
    <script src="{% static "account.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "account.min.css" %}">
{% endif %}
    <script>
        var csrftoken = "{{ csrf_token }}";
        var exists_url = "{% url 'ExistsView' %}";
        var MIN_USERNAME_LENGTH = {{ MIN_USERNAME_LENGTH }};
        var MAX_USERNAME_LENGTH = {{ MAX_USERNAME_LENGTH }};
        {% if SITE.FACEBOOK %}var FACEBOOK_PAGE = "{{ SITE.FACEBOOK }}";{% endif %}
        {% if SITE.TWITTER %}var TWITTER_PAGE = "{{ SITE.TWITTER }}";{% endif %}
        {% if SITE.GPLUS %}var GPLUS_PAGE = "{{ SITE.GPLUS }}";{% endif %}
    </script>
    <!-- custom code -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head><body class="{{ menuitem }}">
<div id="fb-root"></div>
<div class="container">
{% block container %}{% endblock container %}
</div>
<script>{% comment %}fake shariff for noauto class to enable manual buttons{% endcomment %}
$('.shariff.noauto').each(function() {
    this.shariff = 'exists';
});
</script>
<script src="{% static "lib/shariff/shariff.min.js" %}"></script>
</body></html>
