{% load i18n %}
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li {% if menuitem == "register" %}class="active"{% endif %}><a href="{% url "index" %}">{% trans "Register" %}</a></li>
      <li {% if menuitem == "password" %}class="active"{% endif %}><a href="{% url "ResetPassword" %}">{% trans "Forgot password" %}</a></li>
      <li {% if menuitem == "email" %}class="active"{% endif %}><a href="{% url "ResetEmail" %}">{% trans "Set email" %}</a></li>
      <li {% if menuitem == "delete" %}class="active"{% endif %}><a href="{% url "Delete" %}">{% trans "Delete account" %}</a></li>
    </ul>
  </div>

</nav>
