{% load i18n staticfiles %}
<div class="form-group gpg-form-group">
    <span class="gpg-fields-toggle">
        <span class="triangle-wrapper">
            <span class="show-triangle" {% if show_gpg %} style="display: none;"{% endif %}></span>
            <span style="display: {% if show_gpg %}inline-block{% else %}none{% endif %};" class="hide-triangle"></span>
        </span>
        {{ form.fingerprint.label_tag }}
    </span>
    <div class="row"{% if show_gpg %} style="display: block;"{% endif %}>
        <div class="col-lg-5 help-block">
            {% blocktrans %}Add your GPG key if you want us to encrypt all confirmation emails sent to you.{% endblocktrans %}
            {% for domain, config in XMPP_HOSTS.items %}
                {% if config.GPG_FINGERPRINT %}
                    {% static config.GPG_FINGERPRINT|add:".asc" as keylink%}
                    <span class="fingerprint" id="fp-{{ domain }}">
                        {% blocktrans %}The email will be signed with <a href="{{ keylink }}">this key</a>.{% endblocktrans %}
                    </span>
                {% endif %}
            {% endfor %}
            {% blocktrans %}You have two options:{% endblocktrans %}
        </div>
    </div>
    <div class="row"{% if show_gpg %} style="display: block;"{% endif %}>
        <div class="col-lg-5 {% if form.fingerprint.errors %}has-error{% endif %}">
            {{ form.fingerprint }}
            <div class="help-block">
                {{ form.fingerprint.errors }}
                {{ form.fingerprint.help_text }}
                <strong>{% trans "Or" %}</strong>
            </div>
        </div>
    </div>
    <div class="row"{% if show_gpg %} style="display: block;"{% endif %}>
        <div class="col-lg-5 {% if form.gpg_key.errors %}has-error{% endif %}">
            {{ form.gpg_key }}
            <div class="help-block">
                {{ form.gpg_key.errors }}
                {{ form.gpg_key.help_text }}
            </div>
        </div>
    </div>
    <div class="row"{% if show_gpg %} style="display: block;"{% endif %}>
        <div class="col-lg-5 text-danger">
            {% blocktrans %}<strong>Warning:</strong> If you ever loose your GPG key and do not upload a
new one here, you will no longer be able to reset your password.{% endblocktrans %}
        </div>
    </div>
</div>
