{% load i18n %}{% language lang %}<!DOCTYPE HTML>
<html>
<head><title>{{ subject }}</title></head>
<body>
<p>{% blocktrans %}Dear {{ username }},{% endblocktrans %}</p>

<p>{% blocktrans %}You attempted to change the password for your Jabber account {{ jid }}.
To complete the change, please <a href="{{ uri }}">click here</a>.{% endblocktrans %}</p>

<p>{% trans "If you haven't sent this request, you can simply disregard this Email." %}</p>

<p>{% trans "greetings," %}<br />
<p style="padding-left: 4em;">{{ domain }}</p>
{% endlanguage %}
</body></html>
