{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
    <h1>{% block title %}{% trans "Reset password" %}{% endblock title %}</h1>
</div>

{% if form.is_valid %}
<div class="alert alert-success">
<p><strong>{% trans "Change successful!" %}</strong></p>
<p>{% blocktrans %}You have successfully set a new password for your account.
You can use it immediately.{% endblocktrans %}</p>
</div>
{% else %}

{% include "core/forms/errors.html" %}

<form role="form" action="" method="post">{% csrf_token %}
    {% include "core/forms/head.html" %}

    {% with field=form.password %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.password2 %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.value %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.recaptcha %}
        {% include "core/forms/recaptcha.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
</form>
{% endif %}
{% endblock content %}
