{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
    <h1>{% block title %}{% trans "Set password" %}{% endblock title %}</h1>
</div>

{% if form.is_valid %}
<div class="alert alert-success">
    <p><strong>{% trans "Change successful!" %}</strong></p>
    <p>{% blocktrans %}Thank you for your request. You have received an email to confirm your
request. It contains a link to a page where you can reset your password.{% endblocktrans %}
    </p>
</div>
{% else %}

<p>{% blocktrans %}If you have forgotten your password, you can reset it here. Please give
your Jabber address and the email address you have used for registration.
You will receive an email with a link to a page that allows you to reset
your password.{% endblocktrans %}</p>
<p class="alert alert-info">
{% url "ResetEmail" as email_reset_url %}
{% blocktrans with url=email_reset_url %}<strong>Please note:</strong> You can only reset your password here if you
have registered via this site (or <a href="{{ url }}">set your email</a>).{% endblocktrans %}
</p>

{% include "core/forms/errors.html" %}

<form role="form" action="" method="post">{% csrf_token %}
    {% include "core/forms/head.html" %}

    {% with field=form.value %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with username=form.username domain=form.domain %}
        {% include "core/forms/jid.html" %}
    {% endwith %}

    {% with field=form.recaptcha %}
        {% include "core/forms/recaptcha.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-default">{% trans "Set password" %}</button>
</form>

{% endif %}
{% endblock content %}
