{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
    <h1>{% block title %}{% trans "Set password" %}{% endblock title %}</h1>
</div>

{% if form.is_valid %}
<div class="alert alert-success">
    <p><strong>{% trans "Request successful!" %}</strong></p>
    <p>{% blocktrans %}You will receive a confirmation email shortly.
        The email will contain a confirmation link where you can reset your password.{% endblocktrans %}
    </p>
</div>
{% else %}

<p>{% blocktrans %}
If you have forgotten your password, you can reset it here. Please give your
Jabber ID and the Email address you have used for registration. You will
receive an Email with a link to a page that allows you to reset your password.
{% endblocktrans %}</p>
<p class="alert alert-info">
{% url "ResetEmail" as email_reset_url %}
{% blocktrans with url=email_reset_url %}
<strong>Please note:</strong> You can only reset your password here if you have
registered via this site (or <a href="{{ url }}">set your E-Mail</a>).
{% endblocktrans %}
</p>

{% include "core/forms/errors.html" %}

<form role="form" action="" method="post">{% csrf_token %}
    {% include "core/forms/head.html" %}

    {% with field=form.value %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with field=form.email %}
        {% include "core/forms/field.html" %}
    {% endwith %}

    {% with username=form.username domain=form.domain %}
        {% include "core/forms/jid.html" %}
    {% endwith %}

    {% with field=form.recaptcha %}
        {% include "core/forms/recaptcha.html" %}
    {% endwith %}

    <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
</form>

{% endif %}
{% endblock content %}
