#id_value, label[for="id_value"] {
    display: none;
}
#id_fingerprint {
    width: 100%;
}
/* hide gpg by default */
.gpg-form-group .row {
    display: none;
}

.single-domain {
    display: none;
}

input#recaptcha_response_field {
    line-height: normal !important;
}

nav {
    margin-top: 10px;
}

footer {
    color: #777;
    background-color: #f8f8f8;
    padding-top: 5px;
    margin-top: 2em;
}

ul.arrow-list {
    list-style: none inside none;
    padding-left: 10px;
}
ul.arrow-list li {
    background: url('/static/img/arrow-right-green.png');
    background-repeat: no-repeat;
    background-position: 0px 2px
    line-height: 22px;
    padding-left: 24px;
}

.twitter-follow-button {
    vertical-align: bottom;
}

.social-buttons {
    margin-top: -10px;  /* decrease margin to page-header */
    cursor: pointer;
    margin-bottom: 1em;
    min-height: 26px;
}
.social-buttons.inline {
    margin-top: 0;
    margin-bottom: 0;
}

#status-check span {
    display: none;
}
#status-check span#default {
    display: inline;
    color: black;
}
#status-check span#username-ok {
    color: green;
}
#status-check span#username-taken,
#status-check span#username-error,
#status-check span#username-too-long 
{
    color: #A94442;
}
