#id_value, label[for="id_value"] {
    display: none;
}

.single-domain {
    display: none;
}

input#recaptcha_response_field {
    line-height: normal !important;
}

nav {
    margin-top: 10px;
}

footer {
    color: #777;
    background-color: #f8f8f8;
    padding-top: 5px;
    margin-top: 2em;
}

ul.arrow-list {
    list-style: none inside none;
    padding-left: 10px;
}
ul.arrow-list li {
    background: url('/static/img/arrow-right-green.png');
    background-repeat: no-repeat;
    background-position: 0px 2px
    line-height: 22px;
    padding-left: 24px;
}

.twitter-follow-button {
    vertical-align: bottom;
}
